.contact-section {
    margin: auto;
  width: 100%;
  padding: 10px;
}
.google-form{
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.invalid-feedback {
    color: red;
    display: none;
}

input[data-touched="true"]:required:invalid, 
textarea[data-touched="true"]:required:invalid {
    border-color: red;
}

input[data-touched="true"]:required:invalid + .invalid-feedback, 
textarea[data-touched="true"]:required:invalid + .invalid-feedback {
    display: block;
}

label {
    display: block;
    margin-bottom: 7px; 
}

input, textarea {
    display: block;
    width: 80%; 
}